.order-card[b-1tj9kobv6y] {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #1b6ec2;
}

.card-title[b-1tj9kobv6y] {
    color: #1b6ec2;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.custom-file-label.selected[b-1tj9kobv6y]::after {
    content: "" !important;
}