.order-card[b-2lz3buplmi] {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #1b6ec2;
}

.card-title[b-2lz3buplmi] {
    color: #1b6ec2;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.custom-file-label.selected[b-2lz3buplmi]::after {
    content: "" !important;
}

.img-car[b-2lz3buplmi]{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
}