.form-container[b-vc22ibq5aj] {
    width: 70vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-div[b-vc22ibq5aj]{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-group[b-vc22ibq5aj] {
    margin-bottom: 20px;
}

.form-control[b-vc22ibq5aj] {
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
}

.form-control-color[b-vc22ibq5aj] {
    padding: 3px;
}

.btn-primary[b-vc22ibq5aj] {
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    font-size: 16px;
    padding: 10px 20px;
}

.btn-primary:hover[b-vc22ibq5aj] {
    background-color: #0056b3;
    border-color: #004a9b;
}