.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    border: none;
    height: 37vh;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 30vh;
    object-fit: cover;
}

.card-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1.25rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.modal-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 50vh;
    object-fit: contain;
}

.color-indicator {
    width: 80%;
    height: 20px;
    display: inline-block;
    margin-right: 0.5rem;
    border: black 1px solid;
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1000; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Прокрутка при необходимости */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fefefe;
    margin: auto; /* 15% сверху и центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Ширина модального окна */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-group {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.input-group .form-control {
    border: none;
    box-shadow: none;
}

.input-group-append .btn {
    border: none;
    background-color: #1b6ec2;
    color: #fff;
    border-radius: 0 0.25rem 0.25rem 0;
}

.input-group-append .btn:hover {
    background-color: #0056b3;
}

.input-group-append .btn i {
    font-size: 1.2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 5px;
}

.grid-item {
    grid-column: span 3;
}

.grid-item:nth-child(4) {
    grid-column: 1 / 4;
}

.cars-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 68vh;
    overflow-y: auto;
}

.card{
    background-color: #1b6ec2;
    color: white;
}

.card .btn-primary{
    background-color: white;
    color: #1b6ec2;
}