@page "/update-auto/{Vin}"
@using Microsoft.AspNetCore.Authorization
<PageTitle>Обновление авто</PageTitle>
@attribute [Authorize("AdminOnly")]

<div class="container my-5">
  <h3 class="mb-4 text-center">Обновление авто</h3>

  @if (_isLoaded)
  {
    <form name="update-auto" @onsubmit="Save" class="form-container">
      <div style="margin: 5px" class="form-group">
        <label for="vin">VIN</label>
        <input type="text" class="form-control" required maxlength="17" @bind="_auto.Vin"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="year">Год</label>
        <input type="number" class="form-control" required maxlength="4" @bind="_auto.Year"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="engine">Двигатель</label>
        <input type="text" class="form-control" required maxlength="17" @bind="_auto.Engine"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="body">Кузов</label>
        <input type="text" class="form-control" required maxlength="17" @bind="_auto.Body"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="color">Цвет</label>
        <input type="color" class="form-control form-control-color" required @bind="_auto.Color"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="number">Гос номер</label>
        <input type="text" class="form-control" @bind="_auto.GovNumber"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="passport">Номер паспорта</label>
        <input type="text" class="form-control" required @bind="_auto.Passport"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="date">Дата выдачи</label>
        <input type="date" class="form-control" required @bind="_auto.PassportDated"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="full_price">Полная стоимость</label>
        <input type="number" class="form-control" required @bind="_auto.FullPrice"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="rent_price">Стоимость аренды (1 сутки)</label>
        <input type="number" class="form-control" required @bind="_auto.RentPrice"/>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="model">Модель</label>
        <select name="model" class="form-control">
          @foreach (var model in _models)
          {
            <option value="@model.Id">@model.Name (@model.Brand.Name)</option>
          }
        </select>
      </div>

      <div style="margin: 5px" class="form-group">
        <label for="">Фото</label>
        <input class="form-control" type="file"/>
      </div>

      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
  }
  else
  {
    <h5>Загрузка...</h5>
  }
</div>