.form-container {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
}

.form-control-color {
    padding: 3px;
}

.btn-primary {
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    font-size: 16px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004a9b;
}