@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="top-nav" style="height: 5.5vh">
        <nav>
            <ul>
                <li>
                    <a class="nav-button" href="/" Match="NavLinkMatch.All">Главная</a>
                </li>
                <li>
                    <a class="nav-button" href="/cars">Автомобили</a>
                </li>
                <AuthorizeView Policy="AdminOnly">
                    <Authorized>
                        <li>
                            <a class="nav-button" href="/orders">Сотрудники</a>
                        </li>
                        <li>
                            <a class="nav-button" href="/orders">Клиенты</a>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Policy="StaffOnly">
                    <Authorized>
                        <li>
                            <a class="nav-button" href="/orders">Заявки</a>
                        </li>
                        <li>
                            <a class="nav-button" href="/log-out">Выход</a>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li>
                            <a class="nav-button" href="/log-in">Вход</a>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </nav>
    </div>

    <main class="content">
        @Body
    </main>
</div>
